<!-- About -->
<section
  id="nav-about"
  class="bg-warning-bg-subtle text-light pt-5 pb-3 ps-3 pe-3 mt-5 mb-2 ms-2 me-2 p-lg-0 text-center text-sm-start"
>
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>
          <span class="text-dark">Hello, I am </span
          ><span class="text-info">Jeff</span>
          <span class="text-warning">Carl</span>
        </h1>
        <p class="lead my-4">
          <span class="text-dark">
            <b>Jeff Carl Monroy</b> is a 4th-year IT student from PUP Taguig, an
            IT Intern in Xtreme Offshore Outsourcing Inc., and passionate
            digital artist. He specialize in illustration and graphic design,
            blending technology with creativity to bring ideas to life. Whether
            coding or creating digital art, He is always exploring new ways to
            innovate.</span
          >
        </p>
      </div>
      <img
        class="img-fluid w-50 d-none d-sm-block"
        src="images/profile.png"
        alt="Jeff Drawing"
      />
    </div>
  </div>
</section>
