<!-- Creative Projects -->
<section id="creative-works" class="bg-light text-dark pt-4 pb-5 ps-5 pe-5">
    <div class="container">
      <div class="row">
        <!-- Digital Illustrations -->
        <div class="col-md-6 mb-4">
          <h3 class="mb-2 text-center pb-3">Digital Illustrations</h3>
          <div id="carouselIllustrations" class="carousel slide">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselIllustrations"
                data-bs-slide-to="0"
                class="active"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselIllustrations"
                data-bs-slide-to="1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselIllustrations"
                data-bs-slide-to="2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselDesigns"
                data-bs-slide-to="3"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselDesigns"
                data-bs-slide-to="4"
              ></button>
            </div>
            <div class="carousel-inner text-center">
              <div class="carousel-item active">
                <img
                  src="images/work01.png"
                  class="d-block mx-auto"
                  style="height: 60vh; object-fit: contain"
                  alt="Illustration 1"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Moon will Cradle Me Home</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="images/work03.png"
                  class="d-block mx-auto"
                  style="height: 60vh; object-fit: contain"
                  alt="Illustration 2"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Am I Making You Feel Sick?</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="images/work05.png"
                  class="d-block mx-auto"
                  style="height: 60vh; object-fit: contain"
                  alt="Illustration 3"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5>I am a Star</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="images/work06.png"
                  class="d-block mx-auto"
                  style="height: 60vh; object-fit: contain"
                  alt="Illustration 3"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Lily Chou-Chou</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="images/work12.png"
                  class="d-block mx-auto"
                  style="height: 60vh; object-fit: contain"
                  alt="Illustration 3"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5>BGC Stroll</h5>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselIllustrations"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon btn btn-dark"></span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselIllustrations"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon btn btn-dark"></span>
            </button>
          </div>
        </div>

        <!-- Digital Design -->
        <div class="col-md-6">
          <h3 class="mb-2 text-center pb-3">Digital Design</h3>
          <div id="carouselDesigns" class="carousel slide">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselDesigns"
                data-bs-slide-to="0"
                class="active"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselDesigns"
                data-bs-slide-to="1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselDesigns"
                data-bs-slide-to="2"
              ></button>
            </div>
            <div class="carousel-inner text-center">
              <div class="carousel-item active">
                <img
                  src="images/work04.png"
                  class="d-block mx-auto"
                  style="height: 60vh; object-fit: contain"
                  alt="Design 1"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5>DiscoverKnights: Angularventures</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="images/work08.png"
                  class="d-block mx-auto"
                  style="height: 60vh; object-fit: contain"
                  alt="Design 2"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Knights of Honor 2024</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="images/work09.png"
                  class="d-block mx-auto"
                  style="height: 60vh; object-fit: contain"
                  alt="Design 3"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5>SPADE 2024</h5>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselDesigns"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon btn btn-dark"></span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselDesigns"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon btn btn-dark"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>