<!-- IT Projects -->
<section id="it-projects" class="bg-dark text-light pt-4 pb-5 ps-5 pe-5">
  <div class="container">
    <h3 class="mb-2 text-center mb-4">IT Projects</h3>
    <div class="row text-center">
      <div class="col-md">
        <div class="col-md">
          <div class="card bg-light text-dark mb-4">
            <div class="card-body text-center mb-2">
              <img
                src="images/it-proj01.png"
                class="card-img-top"
                alt="sketch"
              />
              <h4 class="card-title text-dark pt-3">Likha</h4>
              <p class="card-text"></p>
              <a
                href="#"
                class="btn btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#detailsModal"
                >Details</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card bg-light text-dark mb-4">
          <div class="card-body text-center mb-2">
            <img src="images/it-proj03.png" class="card-img-top" alt="sketch" />
            <h4 class="card-title text-dark pt-3">Dreaming</h4>
            <p class="card-text"></p>
            <a
              href="#"
              class="btn btn-warning"
              data-bs-toggle="modal"
              data-bs-target="#detailsModal"
              >Details</a
            >
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card bg-light text-dark">
          <div class="card-body text-center mb-2">
            <img src="images/it-proj02.png" class="card-img-top" alt="sketch" />
            <h4 class="card-title text-dark pt-3">KAJAS</h4>
            <p class="card-text"></p>
            <a
              href="#"
              class="btn btn-warning"
              data-bs-toggle="modal"
              data-bs-target="#detailsModal"
              >Details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="detailsModal"
  tabindex="-1"
  aria-labelledby="detailsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">Project</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex">
        <img
          src="images/it-proj01.png"
          alt="Artwork"
          class="img-fluid me-3"
          style="width: 150px; height: auto"
        />
        <div>
          <p>Lorem Ipsum</p>
          <p>
            <strong>Contributors:</strong>
            <em>Ayacocho, Castro, Monroy, Pascual, Valerio</em>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
