@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #documents-container {
    margin-top: 130px;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 70px;
}

.small-card {
  max-width: 250px;
  margin: auto;
}

.small-card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 10px;
}

#documents-container {
  margin-top: 100px;
  margin-bottom: 20px;
}

#nav-about {
  padding-top: 80px;
}
