<%- include("../layout/header") %>
<main>
  <section
    class="d-flex flex-column justify-content-center align-items-center vh-100"
  >
    <div></div>
    <div class="text-center">
      <video
        src="images/crane.mp4"
        autoplay
        loop
        muted
        height="100"
        class="m-1"
      ></video>
      <h2>Under Construction</h2>
      <p>This section will be available very soon. Thank you!</p>
    </div>
  </section>
</main>
