<%- include("../layout/header") %>
<main>
  <div class="bg-light pt-3 pb-3 ps-3 pe-3 mt-5 mb-2 ms-2 me-2 p-lg-0"></div>
  <div class="bg-light pt-3 d-none d-lg-block"></div>
  <!-- IT Projects -->
  <section id="it-projects" class="bg-light text-dark pt-4 pb-5 ps-5 pe-5">
    <div class="container d-flex flex-column align-items-center">
      <h3 class="mb-2 text-center mb-4">Documents</h3>

      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gx-lg-2 gy-lg-2 justify-content-center"
      >
        <div class="col d-flex justify-content-center">
          <div
            class="card small-card bg-light text-dark mb-4 m-0 w-100"
            style="max-width: 300px"
          >
            <div class="card-body text-center mb-2">
              <h5 class="card-title text-dark pt-2">Memorandum of Agreement</h5>
              <a href="#" class="btn btn-warning" target="_blank"
                >Access Here</a
              >
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <div
            class="card small-card bg-light text-dark mb-4 m-0 w-100"
            style="max-width: 300px"
          >
            <div class="card-body text-center mb-2">
              <h5 class="card-title text-dark pt-2">Acceptance Letter</h5>
              <a href="#" class="btn btn-warning" target="_blank"
                >Access Here</a
              >
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <div
            class="card small-card bg-light text-dark mb-4 m-0 w-100"
            style="max-width: 300px"
          >
            <div class="card-body text-center mb-2">
              <h5 class="card-title text-dark pt-2">Consent Form</h5>
              <a
                href="https://drive.google.com/file/d/1cyZdehx3hxsu3ctG1ZJGAp2ZdQmukvsZ/view?usp=sharing"
                class="btn btn-warning"
                target="_blank"
                >Access Here</a
              >
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <div
            class="card small-card bg-light text-dark mb-4 m-0 w-100"
            style="max-width: 300px"
          >
            <div class="card-body text-center mb-2">
              <h5 class="card-title text-dark pt-2">Recommendation Letter</h5>
              <a href="#" class="btn btn-warning" target="_blank"
                >Access Here</a
              >
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <div
            class="card small-card bg-light text-dark mb-4 m-0 w-100"
            style="max-width: 300px"
          >
            <div class="card-body text-center mb-2">
              <h5 class="card-title text-dark pt-2">Traning Partner Sheet</h5>
              <a
                href="https://drive.google.com/file/d/13I4HAOXF6G9lVNy9dsmidAptSyNCJTmm/view?usp=drive_link"
                class="btn btn-warning"
                target="_blank"
                >Access Here</a
              >
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <div
            class="card small-card bg-light text-dark mb-4 m-0 w-100"
            style="max-width: 300px"
          >
            <div class="card-body text-center mb-2">
              <h5 class="card-title text-dark pt-2">
                Student Information Sheet
              </h5>
              <a
                href="https://drive.google.com/file/d/16myWXrrfdRNXhIJ5-kWW0i81s3sIlC7B/view?usp=drive_link"
                class="btn btn-warning"
                target="_blank"
                >Access Here</a
              >
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <div
            class="card small-card bg-light text-dark mb-4 m-0 w-100"
            style="max-width: 300px"
          >
            <div class="card-body text-center mb-2">
              <h5 class="card-title text-dark pt-2">Resume</h5>
              <a
                href="https://drive.google.com/file/d/1Mo7oXVTw2TxvW4a2Clw2yPrLDUpzAOUV/view?usp=drive_link"
                class="btn btn-warning"
                target="_blank"
                >Access Here</a
              >
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <div
            class="card small-card bg-light text-dark mb-4 m-0 w-100"
            style="max-width: 300px"
          >
            <div class="card-body text-center mb-2">
              <h5 class="card-title text-dark pt-2">
                Weekly Accomplishment Report
              </h5>
              <a
                href="https://drive.google.com/drive/folders/1HuWmtCcte_cYArFe2UCBD-pokbPFeVGi?usp=drive_link"
                class="btn btn-warning"
                target="_blank"
                >Access Here</a
              >
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <div
            class="card small-card bg-light text-dark mb-4 m-0 w-100"
            style="max-width: 300px"
          >
            <div class="card-body text-center mb-2">
              <h5 class="card-title text-dark pt-2">Daily Time Report</h5>
              <a
                href="https://docs.google.com/document/d/1vedK3SaKAyVKhSnKWxO39vstfn_SUc7p/edit?usp=drive_link&ouid=118391994485657622504&rtpof=true&sd=true"
                class="btn btn-warning"
                target="_blank"
                >Access Here</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include("../layout/footer") %>
